.elements {
  position: fixed;
  top: 35px;
  left: 0;
  width: 100%;
  height: 100%;

  &--active &--placeholder_wrapper {
    display: block;
  }

  &--empty &--empty_placeholder_wrapper {
    display: block;
  }

  &--empty&--active &--empty_placeholder_wrapper {
    display: none;
  }

  &--placeholder, &--empty_placeholder {
    margin: 40px auto;
    width: 80%;
    color: grey;
    border-radius: 10px;
    border: 5px dashed grey;
    padding: 10px 0;

    &_wrapper {
      display: none;
      position: absolute;
      z-index: 5;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 0.8;
      height: 100%;
      width: 100%;
    }
  }

  &_item {
    position: absolute;
    padding: 10px;
    z-index: 2;
    &--active {
      border-radius: 5px;
      margin-left: -1px;
      margin-top: -1px;
      border: 1px solid grey;
      .ui-rotatable-handle, .ui-resizable-handle {
        display: block !important;
      }
    }

    .ui-rotatable-handle {
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: grey;
      border: 1px solid grey;
      border-radius: 2.5px;
      top: -10px;
      left: 50%;
      margin-top: -2.5px;
    }

    .ui-resizable-handle, .ui-rotatable-handle {
      display: none
    }
  }
}